@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  text-align: center;
}
*{
  background-color: rgb(155, 212, 193);
  
}
Button{
 margin: 3%;
}
.counter{
  font-family: 'Lobster', cursive;
  color: rgb(99, 0, 114);
  padding-top: 10px;
  margin-bottom: 100px;
}
.numbers h1{
  /* color: rgb(255, 48, 2); */
  width: 100%;
  height: 100%;
  background-size: 100%;
  /* background-image: url("https://media.tenor.com/pf460o0haPIAAAAC/math-numbers.gif"); */
  padding: 80px;
}